
.storyboard {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(176, 196, 222);
  height: 100%;
  margin-top: 1rem;
}
  .storyboard .status {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    padding-top: 6rem;
  }
    .storyboard .status::before {
      content: attr(title);
      display: block;
      font-size: 3rem;
      font-weight: 100;
      position: absolute;
      text-align: center;
      top: 1rem;
      width: 100%;
    }

  .storyboard .followers {
    background-color: white;
    border-top: 1px solid silver;
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    height: 100px;
    transition: opacity .2s linear, transform .3s ease-in-out;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

