
.storyboard {
  display: flex;
  height: 100%;
}

.storyboard .status {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  padding-top: 6rem;
}
  .storyboard .status::before {
    content: attr(title);
    display: block;
    font-size: 3rem;
    font-weight: 100;
    position: absolute;
    text-align: center;
    top: 1rem;
    width: 100%;
  }
  .storyboard .todo {
    flex: 1.1;
  }
  .storyboard .progress {
    flex: 0.8;
  }
  .storyboard > .progress {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
  }
  .storyboard .done {
    flex: 1.1;
  }

  .storyboard .followers {
    background-color: white;
    border-top: 1px solid silver;
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    height: 100px;
    transition: opacity .2s linear, transform .3s ease-in-out;
    width: 100%;
    z-index: 1000;
  }

.storyboard .show {
  opacity: 1;
  transform: translateY(0px);
}
.storyboard .hide {
  opacity: 0;
  transform: translateY(100px);
}

